
.logo1{
margin-left: 560px;
margin-top: 200px;
}
.text1{
    color: white;
    font-size: 45px;
    margin-left: 500px;
    font-family: sans-serif;
}
.text2{
    color: white;
    font-size: 45px;
    margin-left: 400px;
    font-family: sans-serif;
    /* margin-bottom: 50px; */
}
.p1{
    color: white;
    font-family: sans-serif;
    margin-left: 370px;
    font-size: 80%;
    margin-bottom: 50px;
}
.logo2{
    margin-left: 600px;
    
}
.welcome {
    background-image: url("../images/back1.jpg");
    background-size: 1260px;
    height: 700px;
    background-repeat: no-repeat;
    
};
