
.logo1{
margin-left: 560px;
margin-top: 200px;
}
.text1{
    color: white;
    font-size: 50px;
    margin-left: 450px;
    font-family: sans-serif;
}
.text2{
    color: white;
    font-size: 50px;
    margin-left: 300px;
    font-family: sans-serif;
}
.welcome {
    background-image: url("../images/back1.jpg");
    background-size: 1260px;
    height: 700px;
    background-repeat: no-repeat;
    
};