
.welcome {
    /* position: relative; */
    background-image: url("../images/back1.jpg");
    /* background-color: green; */
    background-size: 1000px;
    width: 1000%;
    background-repeat: no-repeat;

};

